@model List<UserRoleViewModel>

@{ 
    ViewBag.Title = "Uživatelé role";
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card-header">
        <h2>Přidat nebo odebrat uživatele této role</h2>
    </div>
    <div class="card-body">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model[i].Id" />
                <input type="hidden" asp-for="@Model[i].Name" />
                <input asp-for="@Model[i].IsSelected" class="form-check-input"/>
                <label asp-for="@Model[i].IsSelected" class="form-check-label">
                    @Model[i].Name
                </label>
            </div>
        }
    </div>
    <div class="card-footer">
        <input type="submit" class="btn btn-success" style="width:auto" value="Uložit" />
        <a asp-action="EditRole" asp-route-id="@roleId" asp-controller="administration" 
           class="btn btn-danger" style="width:auto">Zpět</a>
    </div>
</form>